html,
body {
  height: 100%;
	width: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #3b3249;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  min-width: 64em;
  max-width: 70em;
}


/*Header*/


.title {
  margin-bottom: 1em;
	font-size: 1em;
}

.nav-main .nav-link {
  padding: .25rem 0;
  margin-right: 10px;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
}

.nav-main .nav-link:hover,
.nav-main .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-main .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-main .active {
  color: #594677;
  border-bottom-color: #594677;
}

@media (min-width: 48em) {
  .title-head {
    float: left;
  }
  .nav-main {
    float: left;
  }
}

.content {
    margin-top: 2rem;
    text-align: left;
}


/* Links */
a,
a:focus,
a:hover {
  color: #3b3249;
}

/*button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  background-color: #FFF;
  border: .05rem solid #FFF;
}


/*table*/
.tg  {
    border-collapse:collapse;
    border-spacing:0;
    border-color:#aabcfe;
    background-color:#e8edff;

}
.tg td{
    font-family:Arial,
    sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#aabcfe;
    color:#669;
    background-color:#e8edff;

}
.tg th{
    font-family:Arial,
    sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#aabcfe;
    color:#039;
    background-color:#b9c9fe;

}
.tg .tg-us36{
    border-color:inherit;
    vertical-align:top}

/*footer*/
.footer {
      background-image: url("../resources/c8f09dd2.png");
      background-repeat: repeat;

}